:root {
  --blue: rgb(85, 80, 248);
  --poppins: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

body {
  /* background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%); */
  background-color: black !important;
}

/* ------- NAVBAR STYLING  ------- */

header {
  position: fixed;
  width: 100%;
  top: 0;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  margin: 20px 20px 0 0;
  /* position: fixed; */
}
nav li {
  margin: 0 10px 0 10px;
  padding: 10px;
  font-family: var(--poppins);
  font-weight: 700;
  font-style: normal;
  color: lightgrey;
}

nav a {
  text-decoration: none;
}

/* ------------ BIO STYLING ------------ */

article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 70px;
  margin-right: 70px;
  flex-basis: 600px;
  /* flex: 1 1 200px; */
  /* margin-bottom: 150px; */
}

.bio .greeting {
  color: white;
  font-family: var(--poppins);
  font-weight: 400;
  font-style: normal;
  border: 0px solid white;
  background-color: var(--blue);
  border-radius: 9px;
  padding: 8px 20px;
  /* padding: 15px; */
  margin-bottom: 20px;
}

.bio h1 {
  color: var(--blue);
  font-size: 4rem;
  font-family: var(--poppins);
  font-weight: 700;
  font-style: normal;
}

.bio h2 {
  color: lightgrey;
  font-size: 1.75rem;
  font-family: var(--poppins);
  font-weight: 500;
  font-style: normal;
}

.bio .summary {
  color: rgb(146, 146, 146);
  /* font-size: 1.25rem; */
  font-family: var(--poppins);
  font-weight: 400;
  font-style: normal;
  margin-top: 10px;
}

.bio span {
  color: var(--blue);
  font-size: 1 rem;
  font-family: var(--poppins);
  font-weight: 400;
  font-style: normal;
}

.submit input {
  margin-top: 90px;
  padding: 10px 35px;
  border-radius: 10px;
  border: 2px solid var(--blue);
  background-color: black;
  color: whitesmoke;

  font-size: 1.15rem;
  font-family: var(--poppins);
  font-weight: 500;
  font-style: normal;
}

.laptop {
  float: right;
  border-radius: 30px;
  /* margin-right: 300px; */
  /* <<<<< Add shadow effect to laptop >>>>>>>> */
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .wave {
  display: inline-block;
  animation: wave 2s infinite;
  transform-origin: 70% 70%;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(0deg);
  }
} */

/* ---------- FOOTER STYLING ---------- */

/* footer .container {
  color: white;
} */

/* footer h2 {
  color: white;
} */

footer .links {
  display: flex;
  justify-content: space-evenly;
}

footer .github {
  color: white;
  border: 1px solid none;
  /* padding: 50px 200px; */
  margin: 0;
  /* background-color: rgb(77, 77, 77); */
  font-size: 2rem;
}

footer .linkedin {
  color: white;
  border: 1px solid none;
  /* padding: 50px 280px; */
  margin: 0;
  /* background-color: rgb(51, 168, 207); */
  font-size: 2rem;
}

footer .email {
  display: flex;
  color: white;
  border: 1px solid none;
  /* padding: 50px 280px; */
  margin: 0;
  /* background-color: blue; */
  font-size: 2rem;
}

/* ---------- ABOUT ME STYLING ---------- */

#about-me-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about-me {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 800px;
  max-width: 1100px;
  color: white;
  padding: 20px;
}

#about-me h2 {
  font-family: var(--poppins);
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  margin-bottom: 150px;
}

#about-me p {
  font-family: var(--poppins);
  font-weight: 200;
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* #about-me h2,
p {
  color: white;
  margin-bottom: 20px;
} */

/* --------- TECHNOLOGIES STYLING --------- */

#technologies-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#technologies {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 800px;
  max-width: 1100px;
  color: white;
  padding: 20px;
  color: white;
}

#technologies h2 {
  font-family: var(--poppins);
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  margin-bottom: 10px;
}

#technologies p {
  font-family: var(--poppins);
  font-weight: 200;
  font-style: normal;
  font-size: 1.2rem;
  margin-bottom: 75px;
}

#technologies .col-sm-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  border: 1px solid white;
}

/* #technologies .tech-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
}

#technologies .tech-container .name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */

/* ---------- PROJECTS STYLING ---------- */

#projects-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 1 800px;
  max-width: 1100px;
  color: white;
  padding: 20px;
}

#projects h2 {
  font-family: var(--poppins);
  font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  margin-bottom: 20px;
}

#projects p {
  font-family: var(--poppins);
  font-weight: 200;
  font-style: normal;
  font-size: 1.2rem;
  margin-bottom: 100px;
}


/* #project-1 {
  border: 3px solid red;
  border-radius: 10px;

}

#project-1 h3 {
  font-family: var(--poppins);
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  margin-top: 30px;
}

#project-1 p {
  font-family: var(--poppins);
  font-weight: 200;
  font-style: normal;
  font-size: 1.25rem;
}

#project-1 a {
  text-decoration: none;
  margin-top: 0px;
} */
/* ----------------------------------- */
#project-2 {
  color: white;
  background-color: black;
  /* border: 3px solid var(--blue); */
}

#project-2 ul li {
  color: white;
  background-color: black;
  font-family: var(--poppins);
  font-weight: 300;
  font-size: 1.15rem;
}

#project-2 a {
  text-decoration: none;
  font-family: var(--poppins);
  font-weight: 400;
  font-size: 1.15rem;
}


